body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul.filters > li {
  display: inline-block;
  margin-right: 2px;
}

.pill {
  background-color: whitesmoke;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
}

.pill:hover, .pill.selected {
  background-color: #0d6fed;
  color: white;
}